@import "tailwindcss";
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary-500: #4d873d;
  --color-primary-400: #5a9b45;
  --color-primary-300: #cdf4ae;
  --color-primary-200: #fff3b7;
  --color-primary-50: #ffffff;
}
/* animation: {
        'spin-slow': 'spin 2s linear infinite',
        'ping-slow': 'ping 1.5s ease-in-out infinite',
      },
@keyframes {
  ping:{
    '75%, 100%': {
            transform: 'scale(2)',
            opacity: '0',
  }
} */
